@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    background-color: #000000;
    color: #e4e4e7;
    font-family: 'ui-monospace', 'SFMono-Regular', 'Menlo', 'Monaco', 'Consolas', "Liberation Mono", "Courier New", 'monospace';
  }
}

@layer utilities {
  .bg-grid {
    background-size: 40px 40px;
    background-image: linear-gradient(to right, #18181b 1px, transparent 1px),
                      linear-gradient(to bottom, #18181b 1px, transparent 1px);
  }
}

/* Custom Scrollbar for the technical feel */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-track {
  background: #09090b;
  border-left: 1px solid #27272a;
}
::-webkit-scrollbar-thumb {
  background: #27272a;
}
::-webkit-scrollbar-thumb:hover {
  background: #22c55e;
}
